/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: 
Author: 

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  visibility: none;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the 
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('../fonts/font-name.eot');
    	src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/font-name.woff') format('woff'),
             url('../fonts/font-name.ttf') format('truetype'),
             url('../fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #bfe4f4;
  background: #d5edf8;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDER RADIUS
*********************/
/* 
NOTE: For older browser support (and some mobile), 
don't use the shorthand to define *different* corners. 

USAGE: .border-radius(4px); 

*/
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdo it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0,0,4px,0,#444); */
/* .boxShadow(none); */
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
.button:active,
.button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f);
}
.blue-button,
.blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.less styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */
}
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
.menu ul li {
  /*
				plan your menus and drop-downs wisely.
				*/
}
.menu ul li a {
  /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
}
/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */
}
.entry-content .alignleft,
.entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.entry-content .alignright,
.entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.entry-content .aligncenter,
.entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
#col1 {
  display: none;
}
#col2 {
  display: none;
}
#col3 {
  display: none;
}
#col4 {
  display: none;
}
#col5 {
  display: none;
}
#threecol1 {
  float: left;
  width: 30%;
  clear: both;
  border: 1px solid #cccccc;
}
#threecol1 img {
  width: 98%;
  height: auto;
}
#threecol2 {
  float: left;
  width: 30%;
  border: 1px solid #cccccc;
  margin-left: 5px;
}
#threecol2 img {
  width: 98%;
  height: auto;
}
#threecol3 {
  float: left;
  width: 30%;
  border: 1px solid #cccccc;
  margin-left: 5px;
}
#threecol3 img {
  width: 98%;
  height: auto;
}
/********HIDE SIDEBAR ON IPAD! ************/
.sidebar {
  display: none;
}
/* search widget */
#search-form-container {
  margin: 0px;
  position: absolute;
  top: 15px;
  right: 2%;
}
.post-img {
  float: left;
  margin-right: 10px;
  max-width: 200px;
  max-height: 133px;
  width: 200px;
  height: 133px;
}
.figure-medium-left img {
  width: 65%;
  height: auto;
  font-size: 0.9em;
  line-height: 1.2em;
  text-indent: 0px;
  margin: 0 10px 0 0;
  float: left;
}
.figure-medium-left-clear img {
  width: 65%;
  height: auto;
  font-size: 0.9em;
  line-height: 1.2em;
  text-indent: 0px;
  margin: 0 10px 0 0;
  clear: both;
}
.post-img img {
  width: 100%;
  height: 100%;
}
.post-img-small,
.post-img-tn,
.post-img-thumb {
  width: 200px;
  max-width: 200px;
  height: 133px;
  float: left;
  margin-right: 1%;
}
.post-img-small img,
.post-img-tn img,
.post-img-thumb img {
  width: 200px !important;
  max-width: 200px;
  height: 133px;
  float: left;
  margin-right: 1%;
}
.post-img-medium {
  width: 35%;
  height: auto;
  padding: 0px !important;
  float: left;
  margin-right: 10px;
  margin-bottom: 0px !important;
}
.post-img-medium img {
  margin-bottom: 0px !important;
}
.post-img-medium-right {
  width: 35%;
  height: auto;
  padding: 0px !important;
  margin-left: 10px;
  margin-bottom: 0px !important;
}
.post-img-medium-right img {
  margin-bottom: 0px;
}
.post-img-medium-vertical {
  width: 35%;
  height: auto;
  padding: 0px !important;
  float: left;
  margin-right: 10px;
}
#headerimage #figure-logo {
  width: 98%;
}
.header {
  /***************SOCIAL BUTTONS****************/
  /*////////SOCIAL MEDIA///////*/
}
.header nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 0 10px;
  padding-right: 10px;
}
.header #social {
  display: block;
  position: absolute;
  float: left;
  right: 10px !important;
  top: 5px;
  margin: 0px;
}
.header .widget {
  /*align: right; */
}
.header #social ul {
  margin-right: 5px;
}
.header #social li {
  display: inline;
  text-decoration: none;
  /*   float: right; */
}
.header #social a {
  padding: 0 16px;
}
.header #social li:hover > a {
  background: none;
}
.header #social-button-youtube-icon {
  width: 24px;
  height: 24px;
  background: url("<?php bloginfo('wpurl'); ?>/wp-content/images/socialmediabuttons/social_buttons_sprite-sheet.png") -10px -10px;
}
.header #social-button-facebook-icon {
  width: 24px;
  height: 24px;
  background: url("<?php bloginfo('wpurl'); ?>/wp-content/images/socialmediabuttons/social_buttons_sprite-sheet.png") -44px -10px;
}
.header #social-button-rss-icon {
  width: 24px;
  height: 24px;
  background: url("<?php bloginfo('wpurl'); ?>/wp-content/images/socialmediabuttons/social_buttons_sprite-sheet.png") -78px -10px;
}
.header #social-button-tumblr-icon {
  width: 24px;
  height: 24px;
  background: url("<?php bloginfo('wpurl'); ?>/wp-content/images/socialmediabuttons/social_buttons_sprite-sheet.png") -112px -10px;
}
.header #social-button-google-plus-icon {
  width: 24px;
  height: 24px;
  background: url("<?php bloginfo('wpurl'); ?>/wp-content/images/socialmediabuttons/social_buttons_sprite-sheet.png") -146px -10px;
}
.header #social-button-twitter-icon {
  width: 24px;
  height: 24px;
  background: url("<?php bloginfo('wpurl'); ?>/wp-content/images/socialmediabuttons/social_buttons_sprite-sheet.png") -180px -10px;
}
/* import grid */
/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.less stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
.onecol {
  width: 5.801104972%;
}
/* 4.85%;  } /* grid_1  */
.twocol {
  width: 14.364640883%;
}
/* 13.45%; } /* grid_2  */
.threecol {
  width: 22.928176794%;
}
/* 22.05%; } /* grid_3  */
.fourcol {
  width: 31.491712705%;
}
/* 30.75%; } /* grid_4  */
.fivecol {
  width: 40.055248616%;
}
/* 39.45%; } /* grid_5  */
.sixcol {
  width: 48.618784527%;
}
/* 48%;    } /* grid_6  */
.sevencol {
  width: 57.182320438000005%;
}
/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65.74585634900001%;
}
/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 74.30939226%;
}
/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.87292817100001%;
}
/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.436464082%;
}
/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%;
}
/* 100%;   } /* grid_12 */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}
.first {
  margin-left: 0;
}
.last {
  float: right;
}
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 1024px;
}
#container {
  position: relative;
  /*   width: 98%; */
  height: auto;
  margin: 0 auto;
  /*   padding-right:10px; */
}
/*********************
HEADER SYTLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
.header nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 10px 0 10px;
  padding-right: 0px;
}
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  /* 	margin-top: 2.2em; */
  display: block;
  padding-right: 10px;
}
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}
/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
#searchform {
  font-size: 12px;
}
#search-form-container {
  margin: 0px;
  position: absolute;
  top: 20px;
  right: 2%;
}
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
}
/* end .footer-links */
.poem p {
  text-indent: 0px;
  margin-bottom: -0.5em;
  line-height: 1.0em;
  font-size: 0.9em;
}
/************ for sidebar ads ***************/
/* sidebar*/
/*   position: absolute; */
/*top:300px;*/
/*margin-left:690px;*/
#floatingsidebar {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  background-color: #fff;
  border: solid 1px #ccc;
  margin-bottom: 20px;
  width: 300px;
}
#floatingsidebar a {
  color: #000;
}
#floatingsidebar a:hover {
  text-decoration: underline;
  color: #cc0000;
}
#floatingsidebar h4 {
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  font-size: 0.7em;
  line-height: 1.2em;
  color: #333;
  margin-top: 0.5em;
  padding-left: 5px;
  padding-right: 3px;
  margin-bottom: 0.3em;
  font-weight: bold;
}
#floatingsidebar h4 .storyTitle {
  /* 		  font-size: 10px; */
  color: #B5B586;
}
#floatingsidebar .currentStoryTitle {
  /* 		  font-size: 10px; */
  color: #B5B586;
}
#floatingsidebar .currentStoryTitle em {
  /* 		  font-size: 10px; */
  color: #333333;
}
#floatingsidebar h3 {
  font-size: 1.0em;
  font-family: "Georgia", Cambria, Times New Roman, Times, serif;
  text-indent: 5px;
  color: #ccc;
  line-height: 1.4em;
  font-style: italic;
  background-color: #000;
  margin-top: 0px;
  font-weight: bold;
}
#floatingsidebar .adCopy {
  font-size: 10px;
  text-align: center;
  line-height: 14px;
  color: #333;
  padding: 5px;
}
#floatingsidebar .adCopyCentered {
  font-size: 10px;
  text-align: center;
  line-height: 14px;
  color: #333;
  padding: 2px;
}
.sidebar-medium-rectangle {
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
}
.sidebarAdsAmazon {
  border: 1px solid #ccc;
  color: #000;
  z-index: 100;
  margin-bottom: 20px;
  width: 300px;
}
.sidebarAdsAmazon img {
  width: 100%;
  height: auto;
}
/*/////////////////////////////////////Ads go here!*/
.sidebarAdsDonate {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  z-index: 100;
  padding-top: 10px;
  margin-bottom: 20px;
  width: 300px;
  height: auto;
}
.sidebarAds {
  background-color: #fff;
  color: #000;
  border: 1px groove #ccc;
  z-index: 100;
  margin-top: 50px;
}
.sidebarAdsTop {
  background-color: #fff;
  color: #000;
  border: 1px groove #ccc;
  z-index: 100;
  margin-bottom: 20px;
}
.sidebarCopy {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  text-align: right;
  line-height: 14px;
  color: #333;
  padding: 5px;
}
.sidebarCopyCentered {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  text-align: center;
  line-height: 14px;
  color: #333;
  padding: 2px;
}
.adCopySmall {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9px;
  line-height: 11px;
  color: #333;
  padding: 5px;
}
.sidebarTitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 18px;
  color: #333;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
}
/**********FIVE BOX LAYOUT FOR BOTTOM**************/
/****HEEDS RESPONSIVENESS - 3 BOXES? SMALLER BOXES? leaving it here for now...*/
#footer-container {
  display: block;
  background-color: black;
  width: 100%;
  margin: 10px auto;
  clear: both;
}
.twocol {
  width: 20%;
}
#colcontainer {
  background-color: white;
  margin-bottom: 2%;
  width: 100%%;
  float: left;
  padding-top: 5px;
}
#colcontainer img {
  width: 100%;
  max-height: 150px;
  height: auto;
}
#FiveColumnContainerTop {
  width: 100%;
  background: #fff;
  float: left;
  border-top: double 3px #ccc;
  border-bottom: double 3px #ccc;
  padding: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  display: block;
}
#FiveColumnContainerBottom {
  width: 952px;
  background: #fff;
  float: left;
  border-top: double 3px #ccc;
  margin-left: 2px;
  margin-top: -10px;
}
#column1 {
  float: left;
  width: 24%;
  position: relative;
  overflow: hidden;
  display: block;
  margin-right: .8%;
  margin-left: 0.8%;
  background-color: white;
}
#column2 {
  float: left;
  width: 24%;
  position: relative;
  overflow: hidden;
  display: block;
  margin-right: .8%;
  background-color: white;
}
#column3 {
  float: left;
  width: 24%;
  position: relative;
  overflow: hidden;
  display: block;
  margin-right: .8%;
  background-color: white;
}
#column4 {
  float: left;
  width: 24%;
  position: relative;
  overflow: hidden;
  display: block;
  margin-right: .8%;
  background-color: white;
}
#column5 {
  float: left;
  width: 24%;
  position: relative;
  overflow: hidden;
  display: hidden !important;
  margin-right: .5% !important;
  background-color: white;
  display: none;
}
/* Start of Column CSS */
/*
#container5 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	margin-bottom:10px;
	background:#fff; // column 5 background colour 
	margin-top:-11px;
	display:none;
}
#container4 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
	background:#fff; // column 4 background colour 
}
#container3 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
	background:#fff; // column 3 background colour 
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:20%;
	background:#fff; // column 2 background colour 
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:20%;
	background:#fff; // column 1 background colour 
	display:block;
}
*/
/*///////////////////////////////
NOTE: for fixed-width columns without padding, set left:80% and width:20%
Otherwise, set % for padding - 16% for example - will allow for wide padding on
both sides of the column. As we move from left to right (col1 to col5), we need to both add the percentage padding we wish (2%) PLUS the previous col's padding - so the first is 2%, then for subsequent columns we add 2% *2, so we go 82, 86, 90, 94, 98. 
1% (or 18% width) would be 81, 83, 86, 89, 92


for a fixed padding width:
here my full width is 980px
so each column is 196px wide. So instead of 80%, I'll set the left of the first
col to 4 * full width, or 4 * 196 = 784px

Now If I want say 4 pixel padding on each side, I'll set the width to 196 - 8, or 188px for all five columns. Now I set the left of column 1 to 196 * 4, or 784px, then add 4px for the padding, to yield a left value of 788. Column 2 will be 788 + 2 x the 4 pixel padding, or 796, column 3 is 796 + 8, or 804, and so on. Whew...
///////////////////////////////// */
/*
#col1 {
	float:left;
	width:186px;
	position:relative;
	left:767px;
	overflow:hidden;
	display:block;
}
#col2 {
	float:left;
	width:186px;
	position:relative;
	left:775px;
	overflow:hidden;
	display:block;
}
#col3 {
	float:left;
	width:186px;
	position:relative;
	left:782px;
	overflow:hidden;
	display:block;
}
#col4 {
	float:left;
	width:186px;
	position:relative;
	left:789px;
	overflow:hidden;
	display:block;
}
#col5 {
	float:left;
	width:186px;
	position:relative;
	left:796px;
	overflow:hidden;
	display:block;
}
*/
/*
#column1 {
	float:left;
	width:24%;
	position:relative;
	overflow:hidden;
	display:block;
	margin-right:0.8%;
	margin-left:0.8%;
	background-color: white;
}
#column2 {
	float:left;
	width:24%;
	position:relative;
	overflow:hidden;
	display:block;
	margin-right:0.8%;
		background-color: white;

}
#column3 {
	float:left;
	width:24%;
	position:relative;
	overflow:hidden;
	display:block;
	margin-right:0.8%;
		background-color: white;

}
#column4 {
	float:left;
	width:24%;
	position:relative;
	overflow:hidden;
	display:block;
	margin-right:0.8%;
		background-color: white;

}
#column5 {
	float:left;
	width:0%;
	//position:relative;
	//overflow:hidden;
	display:none;
	margin-right:0;
	background-color: white;
	display:none;

}
*/
#SmallArchiveTitle {
  font-size: 1.2em;
  line-height: 1em;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: bold;
  color: #000;
  margin-top: 6px;
  margin-right: 6px;
  margin-left: 3px;
}
#SmallArchiveTitle a {
  text-decoration: none;
  outline: none;
  color: #000;
}
#SmallArchiveTitle a:hover {
  text-decoration: underline;
  color: #cc0000;
}
#SmallArchiveAuthor {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.8em;
  margin-left: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  font-style: italic;
  font-weight: bold;
  color: #A28F62;
  line-height: 1.2em;
  text-transform: uppercase;
}
.archive-copy p {
  font-size: 0.8em;
  line-height: 1.1em;
  margin-right: 12px;
  margin-left: 3px;
  margin-top: 4px;
}
#container1 p {
  font-size: 10px;
  line-height: 1.2em;
  margin-left: 3px;
  margin-right: 6px;
  margin-bottom: 10px;
}
#footer {
  clear: both;
  font-size: .6em;
  background-color: #000;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.footer-col {
  background-color: black;
  line-height: 1.5em;
  padding-bottom: 8px;
  display: block;
}
#footer p {
  color: #fff;
  padding: 0px;
  line-height: 1.5em;
}
#footer p.top {
  line-height: 0em;
  margin-top: 7px;
}
#footer a:hover {
  color: #666;
}
.article-header {
  margin-top: 8px;
}
/***************FOR OLD BACK ISSUES - TO BE DEPRECATED **********/
#left-side {
  float: left;
  margin: 0 10px 10px 10px;
  width: 47%;
}
#right-side {
  float: right;
  margin: 0 10px 10px 10px;
  width: 47%;
}
/*///////////////////////////////
	FRONT PAGE////////////////////////*/
/*************MENU STUFF FOR LARGER SIZES********************/
#menu-categoriesmenu a {
  float: left;
  padding: 12px 30px;
  color: #999;
  text-transform: uppercase;
  font: bold 12px Arial, Helvetica;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
}
#menu-categoriesmenu li:hover > a {
  color: #fafafa;
}
*html #menu-categoriesmenu li a:hover {
  /* IE6 only */
  color: #fafafa;
}
#menu-categoriesmenu ul {
  margin: 20px 0 0 0;
  _margin: 0;
  /*IE6 only*/
  opacity: 0;
  width: 250px;
  visibility: hidden;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 1;
  background: #444;
  border-top: solid #ccc 1px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#social {
  right: 0px;
}
/***************THREE COLUMNS, FOR LARGER SIZES BOOKS AND BACK ISSUES ********/
/*Code for 3 columns, used in back issues section */
#threecolcontainer1 {
  float: left;
  width: 100%;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
#threecolcontainer1 #threecol1 {
  float: left;
  width: 32%;
  border: 1px solid #cccccc;
}
#threecolcontainer1 #threecol1 img {
  width: 100%;
  height: auto;
}
#threecolcontainer1 #threecol2 {
  float: left;
  width: 32%;
  border: 1px solid #cccccc;
  margin-left: 10px;
}
#threecolcontainer1 #threecol2 img {
  width: 100%;
  height: auto;
}
#threecolcontainer1 #threecol3 {
  float: left;
  width: 32%;
  border: 1px solid #cccccc;
  margin-left: 10px;
}
#threecolcontainer1 #threecol3 img {
  width: 100%;
  height: auto;
}
/* for back issues*/
#issueNumber {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-indent: 0em;
  margin: 0 0 0 0;
  line-height: 1.6em;
  text-align: center;
}
#issueContent {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  text-indent: 0em;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 1.6em;
}
#issueButton {
  text-align: left;
  font-size: 12px;
  margin-right: 90px;
  font-weight: bold;
  font-style: italic;
  float: right;
}
#issueLink {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  margin-left: 10px;
}
#issueBuyLink {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  float: left;
  margin-left: 10px;
}
/* for books */
#threecolBook1 {
  float: left;
  width: 31%;
  /*border: 1px solid #cccccc;*/
  margin-left: 0px;
  background: white;
  height: auto;
  padding-top: 10px;
}
#threecolBook2 {
  float: left;
  width: 31%;
  background: white;
  /*border: 1px solid #cccccc;*/
  margin-left: 25px;
  height: auto;
  padding-top: 10px;
}
#threecolBook3 {
  float: left;
  width: 31%;
  background: white;
  /*border: 1px solid #cccccc;*/
  margin-left: 25px;
  height: auto;
  padding-top: 10px;
}
h3 #comments {
  text-align: left;
  margin-left: 20px;
}
span.says {
  font-size: .7em;
  margin-left: 5px;
}
/* STUFF THAT LOOKS DIFFERENT FROM BASE */
/* entry content */
.entry-content .pullQuoteLeft,
.entry-content .pull_quote_left,
.entry-content .pull-quote-left {
  float: left;
  font-size: 28px;
  line-height: 36px;
  text-align: left;
  width: 50%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  border-right: 3px solid #ccc;
  margin-right: 10px;
  padding-right: 10px;
  margin-top: 20px;
  text-indent: 0em;
}
.entry-content .pullQuoteRight,
.entry-content .pull_quote_right,
.entry-content .pull-quote-right {
  float: right;
  font-size: 28px;
  line-height: 36px;
  text-align: right;
  width: 50%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  border-left: 3px solid #ccc;
  margin-left: 10px;
  padding-left: 10px;
  margin-top: 20px;
  text-indent: 0em;
}
figure img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
figure img .post-img-small,
figure img .post-img-tn,
figure img .post-img-thumb {
  width: 200px;
  height: 133px;
  float: left;
  margin-right: 1%;
}
figure .post-img-small img,
.post-img-tn img,
.post-img-thumb img {
  width: 200px !important;
  height: 133px;
  float: left;
  margin-right: 1%;
}
.post-img {
  margin-right: 10px;
  width: 100%;
  height: 100%;
}
.post-img img {
  margin-right: 10px;
  width: 200px;
  height: 133px ;
}
.post-img-thumb-medium {
  float: left;
  margin-right: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.post-img-medium {
  width: 200px;
  height: auto;
  padding: 0px !important;
  float: left;
  margin-right: 10px;
  margin-bottom: 0px !important;
}
.post-img-medium img {
  margin-bottom: 0px !important;
}
.post-img-medium-right {
  width: 200px;
  height: auto;
  padding: 0px !important;
  margin-left: 10px;
  margin-bottom: 0px !important;
}
.post-img-medium-right img {
  margin-bottom: 0px;
}
.post-img-medium-vertical {
  width: 200px;
  height: auto;
  padding: 0px !important;
  float: left;
  margin-right: 10px;
}
/********** FOR TETING HOME PAGE************/
/******* NEW HOME GRID */
.homeGrid {
  height: 345px;
  left: 10px;
  position: relative;
  top: 10px;
  width: 730px;
}
.gridTile {
  background-color: #000000;
  display: inline;
  height: 1px;
  position: absolute;
  width: 1px;
  z-index: 2;
  /*border: solid 1px white;   */
}
.homeGrid .gridTile a {
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 200;
}
.homeGrid .gridTile .overlayTextContainer {
  height: 100%;
  position: absolute;
  vertical-align: bottom;
  width: 100%;
  z-index: 2;
}
.homeGrid .gridTile .gridTileImage {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.homeGrid .gridTile .title {
  /*background: url("images/black_alpha_50.png") repeat scroll 0 0 transparent; */
  bottom: 0;
  color: #FFFFFF;
  /*display: none; */
  font-size: 11px;
  left: 0px;
  line-height: 1.1em;
  padding: 0 3px 1px 3px;
  position: absolute;
  width: 100%;
  z-index: 202;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s linear;
}
.homeGrid .gridTile .title:hover {
  opacity: 1;
}
.homeGrid .gridTile .author {
  bottom: 0;
  color: #FFFFFF;
  /*display: none; */
  font-size: 11px;
  left: 3px;
  line-height: 1.1em;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 203;
}
article p.info-box {
  background: #CD3700;
  /*border: 1px solid #000000;*/
  color: #140C0A;
  /*margin: 10px 0 10px 0px;*/
  padding: 10px;
  margin: 0 0 10px 0;
  /*width: 300px;*/
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
  /*float:left;*/
}
.info-box a {
  color: #fff;
  font-weight: bold;
}
/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
#container {
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
  width: 1080px;
  /* background-color: blue;  */
}
.sidebar {
  /* 	margin-top: 2.2em; */
  display: block;
}
#FiveColumnContainerTop {
  display: block;
}
/*
#column1 {
	float:left;
	width:19.375%;
	position:relative;
	overflow:hidden;
	display:block;
	margin-right:.5%;
	margin-left:0.5%;
	background-color: white;
}
#column2 {
	float:left;
	width:19.375%;
	position:relative;
	overflow:hidden;
	display:block;
	margin-right:.5%;
		background-color: white;

}
#column3 {
	float:left;
	width:19.375%;
	position:relative;
	overflow:hidden;
	display:block;
	margin-right:.5%;
		background-color: white;

}
#column4 {
	float:left;
	width:19.375%;
	position:relative;
	overflow:hidden;
	display:block;
	margin-right:.5%;
		background-color: white;

}
#column5 {
	float:left;
	width:19.375%; 
	position:relative;
	overflow:hidden;
	display:block !important;
	margin-right:.5% !important;
	background-color: white;
	display:none;

}

#footer-container{
	clear:both;
	width:98%;
	z-index: 100; 
	background:black;
	margin: 10px auto 10px auto;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	display:block;
	}
*/
#column1 {
  float: left;
  width: 200px;
  position: relative;
  overflow: hidden;
  display: block;
  margin-right: 3px;
  margin-left: 3px;
  background-color: white;
}
#column2 {
  float: left;
  width: 200px;
  position: relative;
  overflow: hidden;
  display: block;
  margin-right: 3px;
  background-color: white;
}
#column3 {
  float: left;
  width: 200px;
  position: relative;
  overflow: hidden;
  display: block;
  margin-right: 3px;
  background-color: white;
}
#column4 {
  float: left;
  width: 200px;
  position: relative;
  overflow: hidden;
  display: block;
  margin-right: 3px;
  background-color: white;
}
#column5 {
  float: left;
  width: 200px;
  position: relative;
  overflow: hidden;
  display: block !important;
  margin-right: 3px !important;
  background-color: white;
  display: none;
}
#footer-container {
  clear: both;
  width: 100%;
  z-index: 100;
  background: white;
  margin: 10px auto 10px auto;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  display: block;
}
#left-side {
  float: left;
  margin: 0 10px 10px 10px;
  width: 450px;
}
#right-side {
  float: right;
  margin: 0 10px 10px 10px;
  width: 450px;
}
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
